/.metadata/
/.recommenders/
src/.classpath
*.txt
*.txt
*.ini
.metadata/.log
*.properties
*.resources
*.index
*.txt
*.dat
*.class
*.txt
*.class
*.xmi
*.log
.metadata/*
*.xml
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.xmi
*.prefs
*.resources
*.index
